.tree-view-container {
  min-height: 100vh;
  width: 350px;
  background: rgb(0, 71, 110);
  margin-top: 20px;
}

.menu-item {
  cursor: pointer;
  color: #fff;
  margin-left: 5px;
}

.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
