.container{
    text-align: center;
    padding-bottom: 50px;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card{
    flex: calc(90% / 4);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
}

.product-card img{
    height: 200px;
    width: 200px;
}

button{
    padding: 8px 16px;
    font-size: 17px;
    margin: 15px 0;
    cursor: auto;
}